@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #2D3440;
  background-color: #FEAFC3;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.big-block ~ .big-block {
  margin-top: 80px;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
  border: none;
}

.main-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #2D3440;
  background-color: #FCFCFC;
  padding: 12px 32px;
}

.additional-button {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FCFCFC;
  background-color: #FF2F64;
  border-color: rgba(255, 47, 100, 0.3);
  padding: 12px 32px;
}

.button-third {
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  background-color: rgba(252, 252, 252, 0.3);
  border-color: #FCFCFC;
  padding: 8px 32px;
}

.icon-text-button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px 16px;
  border-radius: 30px;
}

.header-icon-button {
  display: flex;
  padding: 8px;
  border-radius: 50%;
  text-decoration: none;
}


.product-card-button {
  padding: 8px;
  border-radius: 50%;
  text-decoration: none;
}

.social-button {
  display: block;
  min-width: 24px;
  min-height: 24px;
  background-color: #FCFCFC;
}

.navigation-user-link-color {
  background-color: rgba(252, 252, 252, 0.3);
}

.navigation-user-link-color:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.navigation-user-link-color:focus {
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  box-shadow: inset 0 0 0 2px #2D3440;
  outline: none;
}

.navigation-user-link-color:active {
  background-color: #FCFCFC;
}



/* Header */

.gllacy-header {
  color: #2D3440;
  background-color: #FEAFC3;
}

.navigation,
.navigation-list,
.navigation-user {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  gap: 16px;
}

.navigation-logo {
  width: 137px;
  height: 56px;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  display: flex;
  justify-content: center;
}

.navigation-link {
  position: relative;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
}

.navigation-link:hover {
background-color: rgba(252, 252, 252, 0.5);
border-radius: 30px;
}

.navigation-link:focus {
background-color: rgba(252, 252, 252, 0.5);
border-radius: 30px;
box-shadow: inset 0 0 0 2px #2D3440;
outline: none;
}

.navigation-link:active {
  background-color: #FCFCFC;
}

.navigation-link-dropdown {
  display: flex;
  align-items: center;
  gap: 6px;
}

.navigation-user {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
  list-style-type: none;
  margin: 0;
}


.navigation-user-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-align: right;
  text-decoration: none;
}

.tel-header {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2D3440;
  background-color: #FEAFC3;
  padding: 0;
  text-decoration: none;
}

.button-enter {

}

/* Main */

.section-title-center {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

.section-title-left {
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  text-align: left;
}

.banner-title {
  display: inline-block;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.gifts-title,
.popular-title {
  margin-top: 0;
  margin-bottom: 56px;
}

.hero-block {
  height: 554px;
}

.hero-block ul {
  padding: 0;
  list-style-type: none;
}

.slider-text {
  font-family: inherit;
  font-style: normal;
  color: #2D3440;
  text-align: left;
}

.slider-text-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin: 0;
}

.slider-text-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}

.slider-list {
  width: 100%;
  margin: 0;
}

.slider-item {
  width: 100%;
  height: 100%;
}

.slider-image {
  position: absolute;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  gap: 30px;
  margin: 0;
}

.gifts-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 28px;
  color: #2D3440;
  background-color: #FF7799;
  text-align: left;
  flex: 1 1 570px;
  padding: 36px 217px 36px 36px;
}


.gifts-description {
  display: block;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  flex-grow: 1;
}

.raspberry {
  background-image: url(../images/raster/background-images/raspberry.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.marshmallow {
  background-image: url(../images/raster/background-images/marshmellow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  margin: 0;
  row-gap: 40px;
  column-gap: 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 270px;
  padding-top: 51px;
}

.product-card-background {
  display: flex;
  flex-direction: column;
  background-color: #FCFCFC;
  padding: 133px 40px 24px 40px;
  position: relative;
  flex-grow: 1;
}

.product-card-image {
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translate(-50%, 0);
}

.product-card-link {
  text-decoration: none;
  text-align: center;
}

.product-card-title {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #2D3440;
  margin-bottom: 8px;
}

.product-description {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #565C66;
  margin: 0;
  margin-bottom: 16px;
  width: 190px;
}

.add-to-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.product-card-price {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2D3440;
}

.product-card-button {
  background-color: #FF2F64;
}

.about {
  background-image: url(../images/raster/background-images/waffle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 24px;
}

.about-background {
  background-color: #FFFFFF;
  padding: 56px 40px;
}

.about-title {
  margin: 0 auto 56px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 40px;
  column-gap: 32px;
}

.about-description {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  margin: 0;
}

.blog-and-subscribe {
  display: flex;
  gap: 30px;
}

.blog-and-subscribe-item {
  flex: 1 1 570px;
}

.blog {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  padding-left: 32px;
  gap: 12px;
  background-image: url(../images/raster/background-images/news.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.blog-description {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #565C66;
}

.blog-link {
  display: block;
  color: #2D3440;
  text-decoration: none;
}

.subscribe {
  display: flex;
  flex-direction: column;
  background-image: url(../images/raster/background-images/line.jpg);
  background-repeat: no-repeat;
  padding: 6px;
}

.subscribe-background {
  display: flex;
  flex-direction: column;
  gap: 42px;
  background-color: #FFFFFF;
  padding: 26px;
  height: 100%;
}

.subscribe-description {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
}

.subscribe-form {
  display: flex;
  justify-content: space-between;
  gap: 14px;
}

.subscribe-form input {
  flex-grow: 1;
}

.communication-form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  background-color: #FCFCFC;
  padding: 40px 40px 42px 40px;

}

.communication-form-text {
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  text-align: left;
  margin: 0;
}

.communication-form-text-margin {
  margin-top: 24px;
}

.form-contacts-description {
  font-size: 14px;
  line-height: 20px;
  color: #565C66;
  text-align: left;
  margin: 0;
}

.delivery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 64px;
  padding-top: 64px;
  padding-bottom: 64px;
  background-image: url(../images/raster/background-images/delivery.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.form-delivery {
  width: 500px;
}

.delivery-text {
  width: 371px;
  padding-top: 103px;
}

.delivery-text h2,
.delivery-text p {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.input-label-text {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #2D3440;
}

.contacts {
  background-image: url(../images/raster/background-images/feedback.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.contacts-important {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #2D3440;
  text-decoration: none;
  margin-top: 12px;
  width: 263px;
}

.contacts-important  a {
  display: block;
  text-decoration: none;
  color: inherit;
}



/* Объединить свойства у блоков delivery и contacts: display и margin. */

.delivery-form {
  display: flex;
  flex-direction: column;
}

.delivery-form-list {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-input {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.delivery-form-input input {
  height: 48px;
  margin-top: 8px;
}

.text-delivery {
  grid-column: 1 / -1;
  margin-bottom: 32px;
}

.delivery-date {
  grid-column: 1 / 2;
  margin: 0;
  width: auto;
}

.delivery-phone {
  grid-column: 2 / 3;
  margin: 0;
  width: auto;
}

.delivery-address {
  grid-column: 1/ -1;
  margin: 0;
  width: auto;
}

.delivery-form-button {
  align-self: center;
  margin-top: 32px;
}

.contacts {
  display: flex;
  padding: 64px;
}

.form-contacts-button {
  align-self: center;
  margin-top: 32px;
}

/* Footer */

.gllacy-footer {
  color: #2D3440;
  background-color: #FEAFC3;
}

.footer-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 48px 0;
}

.html-social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-menu {
  display: grid;
  grid-template-columns: auto auto;
  gap: 8px 24px;
}

.footer-menu-link {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}

.footer-copyright {
  display: grid;
  gap: 14px;
}

.footer-copyright-link {
  display: contents;
}

.logo-html {
  width: 93px;
  height: 27px;
}

.copyright-text {
  font-size: 12px;
  line-height: 16px;
  color: #2D3440;
  margin: 0;
  padding: 0;
}

.htmlacademy-link {
  color: #2D3440;
}

/* Catalog breadcrumbs */

.catalog-inner-header {
  margin: 32px auto 40px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin: 0 auto 16px;
}

.breadcrumbs-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 8px;
}

.breadcrumbs-link {
  color: #2D3440;
  text-decoration: none;
}

.catalog-title {
  margin: 0;
}

.navigation-link-current {
  text-decoration: underline;
}


/* Catalog filters */

.catalog-filter-list {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 16px;
}

.group-one {
  display: flex;
  height: 64px;
  margin-bottom: 16px;
}

.group-two {
  display: flex;
  height: 68px;
}

.catalog-filter {
  display: flex;
  margin-bottom: 44px;
}

.catalog-filter-title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.catalog-filter-item {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sorting {
  width: 196px;
  height: auto;
  margin: 0 24px 0 auto;
}

.price {
  width: 196px;
  height: auto;
  margin: 0 24px 0 auto;
}

.fat {
  display: flex;
  padding: 0;
  width: auto;
  height: auto;
}

.ingredient {
  margin-right: 16px;
}

/* Catalog Pagination */

.show-products {
  display: flex;
  justify-content: flex-end;
  height: 126px;
  margin-top: 16px;
  margin-bottom: 39px;
  padding-top: 41px;
  padding-bottom: 41px;
  padding-left: 488px;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: auto;
}

.pagination-link {
  display: block;
  box-sizing: content-box;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: #2D3440;
  text-decoration: none;
  width: 24px;
  height: 24px;
}

.pagination-current {
  background-color: #FCFCFC;
}

.pagination-arrow {
  display: block;
  background-color: #2D3440;
  width: 16px;
  height: 16px;
}

.pagination-prev {
  margin-right: 8px;
}

.pagination-next {
  margin-left: 8px;
}

.decor-line {
  width: 1170px;
  height: 1px;
  background-color: rgba(252, 252, 252, 0.3);
}
